.btn {
  height: 30px;
  border: 1px solid transparent;
  border-radius: 8px;
  background-color: hsl(180, 37%, 59%);
  cursor: pointer;
  box-shadow: 4px 3px 3px grey;
}

.btn:hover {
  background-color: rgb(62, 182, 64);
}
