.container {
  margin: 10px auto 0 auto;
  padding: 10px;
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #213547;
}

.btn {
  height: 30px;
  border: 1px solid #213547;
  border-radius: 8px;
  background-color: transparent;
}
